*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Pixels;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    background-color: rgba(255, 0, 0, 0);
    width: 2px;
}
::-webkit-scrollbar-track {
    background-color:rgba(6, 66, 100, 0);
}
::-webkit-scrollbar-thumb{
    background: rgba(6, 66, 100, 0); 
    border-radius: 10px;
  }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@font-face {
    font-family: Ghosty;
    src: url(Fonts/Blox2.ttf);
}
@font-face {
    font-family: Pixels;
    src: url(Fonts/Pixellari.ttf);
}
@font-face {
    font-family: Logo;
    src: url(Fonts/Blox2.ttf);
}
body {
    margin: 0;
    padding: 0;
    background-image: url(templates/BG.gif);
    background-repeat: repeat-y;
    background-size: cover;

}

header {
    background: #6761A8;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo-header{
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);

}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 110px;
    background-color: #111111;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}
.sidebar.active ~ .main-content{
    left: 400px;
    width: calc(100% - 400px);
}
.sidebar.active{
    opacity: 1;
    width: 400px;
    overflow-y: auto;
}
.sidebar #btn{
    position: absolute;
    color: rgb(255, 255, 255);
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height:50px;
    transform: translateX(-50%);
    cursor: pointer;
}
.sidebar.active #btn{
    left: 95%;
}
.sidebar .Disc{
    opacity: 1;
  }
  .sidebar.active .Disc{
    opacity: 1;
  }
.sidebar .top .logo{
    color: rgb(255, 255, 255);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar.active .top .logo{
    opacity: 1;
}
.top .logo{ 
    font-size: 2.5rem;
    margin-top: 50px;
    margin-right: 3px;
    text-shadow: 5px;
}
.top .image{
    height: 70px;
    width: 70px;
    align-self: center;
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar.active .image{
    opacity: 1;
}
.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem;
    line-height: 50px;
}
.sidebar ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}
.sidebar.active ul li a:hover{
    background-color: white ;
    color: black;   
}
.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .navi{
    opacity: 0;
}
.sidebar.active .navi{
    opacity: 1;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: flex;
}

nav ul li a:hover {
    background: #FF6347;
    border-radius: 5px;
}
nav ul li a.active {
    background: #009DDC;
    border-radius: 5px;
}

.main-content {
    position: absolute;
    min-height: 100vh;
    top: 0;
    left: 0px;
    transition: all 0.5s ease;
    width: calc(100% - 80px); 
    padding: 20px;
    max-width: 1000px;
    min-width: auto;
    margin: 80px 300px 20px;
    background: rgba(4, 170, 109, 0.3);
    border-radius: 8rem;
    box-shadow: 0 0 50px rgb(255, 0, 0);
}

article {
    margin: 20px 30px 50px 30px;
    
}
article ul li {
    margin: 20px 30px 50px 30px;
    font-size: 40px;
    font-weight: 300;
}
article p{
    margin: 20px 30px 50px 30px;
    font-size: 40px;
    font-weight: 300;
}

h2 {
    color: #ffffff;
}

.home-link {
    display: inline-block; 
    margin-top: 10px;
    text-decoration: none; 
    color: #6761A8;
    padding: 5px 10px; 
    background-color: #ccc;
    border-radius: 5px; /* Rounded corners */
}

.home-link:hover {
    background-color: #009DDC;
}

.center-container {
    text-align: right;
}
.flex-scroll-x {
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
}