*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Pixels;
    scroll-behavior: smooth; 
}
@font-face {
    font-family: Pixels;
    src: url(Fonts/Pixellari.ttf);
}
@font-face {
    font-family: Logo;
    src: url(Fonts/Blox2.ttf);
}
.top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}
.top .logo{
    font-size: 3em;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.nav a{
    position: relative;
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 50px;
}
.nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    height: 3px;
    border-radius: 5px;
    background: #000000;
    transform: scaleX(0);
    transition: .5s;
}
.nav a:hover::after{
    transform: scaleX(1);
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-image: url(ico);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(255, 39, 39, 0.568);
    width: 500px;
    height: 420px;
    text-align: center;
    justify-content: center;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #1a191b;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; 
}
button:hover {
    background-color: #0d1011;
}

input[type="checkbox"] {
    margin-top: -5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.sider{
    width: 700px;
    margin: 20px;
    font-size: 30px;
}
.column {
    justify-content: center;
    padding: 15px;
}
.Foot{ 
    height: 5rem;
    left: 0;
    bottom: 0;
    width: calc(100% - .1px);
    background-color: rgb(36, 35, 35);
    color: white;
    text-align: center;
    padding: 1.5rem;
  }
.Foot div{
    margin-left: 100px;
    display: inline-block;
  }